.header {
    padding: 10px 0;
    span{
        margin-right: 10px;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
    .route{
        margin: 0 3px;
    }
}
.mat-field {
    margin-left: 20px;
}